* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/614dfa9d9f01ea90157d28f2/Facebook-Horizon-Workrooms/960x0.jpg?fit=bounds&format=jpg&width=960");
  width: 100%;
  height: 100%;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 3.5em;
}

